.chatOnline{
    margin-bottom: 10px;
}
.chatOnlineFriend{
    display: flex;
    align-items: center;

}
.chatOnlineImgContainer{
    position: relative;
    margin-right: 15px;
    
}
.chatOnlineImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
   
}
.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.chatOnline{
    font-weight: 600;
}
